/*-----------------------------------
hele siden
 -----------------------------------*/
body {
    background-color: #FFE4EF;
}

/*-----------------------------------
h1 female perspective + logo
-----------------------------------*/
.image-logo {
    display: flex;
    width: 55px;
    height: 55px;
    margin-right: 10px;
    margin-left: 10px;
}
h1 a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: red;
    font-family: "Snell Roundhand", cursive;
    font-size: 50px;
    font-weight: lighter;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

/*-----------------------------------
header punkter
 -----------------------------------*/
header {
    border-bottom: 1px solid;
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style: none;
    padding: 1cm;
    margin: 0;
}

nav ul li a {

    text-decoration: none;
    color: #4B2E2A;
    font-family: Arial;
    font-size: 20px;
}

nav ul li a:hover {
    font-weight: bold;
    transform: scale(1.05);
}

/*to make the "active" tag bold when on that specific page*/

nav ul li a.active {
    font-weight: bold;
}

/*-----------------------------------
header punkter
 -----------------------------------*/
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}

.timeline-header {
    text-align: center;
    padding: 1.4rem 0;
    background-color: whitesmoke;
    font-weight: 600;
}
/*-------------------------------------
info.html styling
 -------------------------------------*/
#info-title{
    display: flex;
    justify-content: center;
    padding-top: 25px;
}
.circle-container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin: 40px 0;


}
.circle-container1, .circle-container2, .circle-container3, .circle-container4, .circle-container5{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    padding: 120px;

}
.circle-container1 h4,
.circle-container5 h4 {
    white-space: nowrap;
}
