/*-----------------------------------
hele siden
 -----------------------------------*/
body {
    background-color: floralwhite;
}

/*-----------------------------------
h1 female perspective + logo
-----------------------------------*/

h1 a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: rgb(236, 72, 200);
    font-family: Marcel, sans-serif;
    font-feature:settingsnormal;
    font-size: 60px;
    font-weight: bolder;
    font-style: italic;
    height: 60px;
    letter-spacing: 0.2px;
    line-height: 16.8px;
    /*font-family: "Snell Roundhand", cursive; */

    cursor: pointer;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

/*-----------------------------------
header punkter
 -----------------------------------*/
header {

    position: sticky;
    top: 0;
    padding-top: 15px;
    background-color: #FFE4EF;
    z-index: 9999; /* gør bla at timeline går under headeren og ikke køre ovenpå*/
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style: none;
    padding: 1cm;
    margin: 0;
}

nav ul li a {

    text-decoration: none;
    color: white;
    font-family: Arial;
    font-size: 15px;
   background-color: rgb(236, 72, 200);
    padding: 10px 15px;
    border-radius: 25px;
}

nav ul li a:hover {
    font-weight: bold;
    transform: scale(1.05);
}

/*to make the "active" tag bold when on that specific page*/

nav ul li a.active {
    font-weight: bold;
}

/*-----------------------------------
header punkter
 -----------------------------------*/
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}

.timeline-header {
    text-align: center;
    padding: 1.4rem 0;
    background-color: whitesmoke;
    font-weight: 600;
}

/* ------------------------------
   FORSIDE
   ------------------------------ */
.index-title{
    display: flex;
    justify-content: center;
    padding-top: 25px;
    color: rgb(0, 56, 168);
}

.small-text-boxes{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin: 40px 0;
}

.text-box1, .text-box2, .text-box3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: rgba(217, 221, 255);
    color: rgb(0, 56, 168);
    white-space: normal;
    text-align: left;
    font-size: 14px;
}



/*-------------------------------------
INFO
 -------------------------------------*/
#info-title{
    display: flex;
    justify-content: center;
    padding-top: 25px;
    color: rgb(0, 56, 168);
}
.circle-container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin: 40px 0;


}

.circle-container1, .circle-container2, .circle-container3, .circle-container4, .circle-container5{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    padding: 120px;
    border-radius: 50%;
    background-color: rgba(217, 221, 255);
    color: rgb(0, 56, 168);
    white-space: nowrap;


}

.circle-container h5 {
    font-style: italic;
    margin-top: 10px;
    color: rgba(0, 56, 168, 0.56);
}

.circle-container div:hover{
    transform: scale(1.10);
    background-color: rgba(217, 221, 255, 0.5);
}
/* ------------------------------
   TIMELINE
   ------------------------------ */

.timeline-wrapper {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    position: relative;
}

.timeline {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

/* Vertical line */
.timeline::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 4px;
    background: rgba(217, 221, 255);
    transform: translateX(-50%);
}

/* Each item */
.timeline li {
    align-items: flex-start;
    width: 50%;
    padding: 25px 45px;
    position: relative;
}

.timeline-img {
    width: 140px;
    border-radius: 10px;
    flex-shrink: 0;
}

.text-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
}

/* Alternate layout */
.timeline li:nth-child(odd) {
    left: 0;
}

.timeline li:nth-child(even) {
    left: 50%;
}

/* Circle marker */
.timeline li::before {
    content: "";
    position: absolute;
    top: 28px;
    width: 22px;
    height: 22px;
    background: rgb(0, 56, 168);
    border: 4px solid rgb(0, 56, 168);
    border-radius: 50%;
    z-index: 10;
    left: calc(100% - 10px);
    transform: translateX(-50%);
}

/* Move circle for even items */
.timeline li:nth-child(even)::before {
    left: -10px;
}

/* Content box styling */
.timeline li h3,
.timeline li p {
    background: rgba(217, 221, 255);
    padding: 18px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    color: #4B2E2A;
    box-shadow: 0 3px 8px rgba(0,0,0,0.08);
}

.timeline li small {
    display: inline-block;
    background: rgba(217, 221, 255);
    padding: 18px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    color: #4B2E2A;
    box-shadow: 0 3px 8px rgba(0,0,0,0.08);

}

/* Title label */
.timeline li .title {
    display: inline-block;
    background: rgb(0, 56, 168);
    color: rgba(217, 221, 255);
    padding: 30px 48px;
    border-radius: 8px;
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
}


/* Close button */
.close {
    display: inline-block;
    margin-top: 5px;
    font-size: 13px;
    color: #4B2E2A;
    cursor: pointer;
}
/* Billede + titel i samme række */
.title-row {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Billedet */
.title-row .timeline-img {
    width: 85px;
    height: auto;
    border-radius: 10px;
    flex-shrink: 0;
}
/* ------------------------------
   TIMELINE
   ------------------------------ */

.timeline-wrapper {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    position: relative;
}

.timeline {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

/* Vertical line */
.timeline::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 4px;
    background: rgba(217, 221, 255);
    transform: translateX(-50%);
}

/* Each item */
.timeline li {
    align-items: flex-start;
    width: 50%;
    padding: 25px 45px;
    position: relative;
}

.timeline-img {
    width: 140px;
    border-radius: 10px;
    flex-shrink: 0;
}


/* Alternate layout */
.timeline li:nth-child(odd) {
    left: 0;
}

.timeline li:nth-child(even) {
    left: 50%;
}

/* Circle marker */
.timeline li::before {
    content: "";
    position: absolute;
    top: 28px;
    width: 22px;
    height: 22px;
    background: rgb(0, 56, 168);
    border: 4px solid rgb(0, 56, 168);
    border-radius: 50%;
    z-index: 10;
    left: calc(100% - 10px);
    transform: translateX(-50%);
}

/* Move circle for even items */
.timeline li:nth-child(even)::before {
    left: -10px;
}

/* Content box styling */
.timeline li h3,
.timeline li p {
    background: rgba(217, 221, 255);
    padding: 18px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    color: #4B2E2A;
    box-shadow: 0 3px 8px rgba(0,0,0,0.08);
}

.timeline li small {
    display: inline-block;
    background: rgba(217, 221, 255);
    padding: 18px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    color: #4B2E2A;
    box-shadow: 0 3px 8px rgba(0,0,0,0.08);

}

/* Title label */
.timeline li .title {
    display: inline-block;
    background: rgb(0, 56, 168);
    color: rgba(217, 221, 255);
    padding: 30px 48px;
    border-radius: 8px;
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 1px;
}

.title {
    margin-bottom: 20px;
}

/* Close button */
.close {
    display: inline-block;
    margin-top: 5px;
    font-size: 13px;
    color: #4B2E2A;
    cursor: pointer;
}
/* Billede + titel i samme række */
.title-row {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Billedet */
.title-row .timeline-img {
    width: 85px;
    height: auto;
    border-radius: 10px;
    flex-shrink: 0;
}



/* ------------------------------
   UDDANNELSER
   ------------------------------ */

/* titel */
#info-title {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    color: rgb(0, 56, 168);
}

/* overskrift */
.educationlocation {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-left: 30px;
    padding-top: 25px;
    padding-bottom: 50px;
    color: rgb(0, 56, 168);
}

/* Fælles styling for ALLE square-sektioner */
.square-cph1,
.square-cph2,
.square-jutland1,
.square-jutland2,
.square-jutland3,
.square-bornholm1,
.square-fyn1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 12px;
    text-transform: uppercase;
}





.square-wrapper {
    flex-direction: column;
    display: flex;
    align-items: center;
    border-radius: 10%;
    height: 450px;
    width: 350px;
    background-color: rgba(217, 221, 255);
    color: rgb(0, 56, 168);
    white-space: nowrap;
    margin-bottom: 50px;


}

.education-logo img{
    display: flex;
    align-items: center;
    max-width: 300px;
    max-height: 80px;
    margin-top: 40px;
}